<!--

-->

<!DOCTYPE html>
<html lang="nl-BE">
  <head>
    <title>Pokedex</title>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11" defer></script>
    <%- include('partials/head'); %>
  </head>
  <body>
    <%- include('partials/navbar.ejs'); %>
    <main class="p-lg-3 ">
        <section class="container border border-danger">
            <article class="row">
                <img src="<%= pokemon._sprites.front_default %>"  class="col-lg" />
                <div class="col-lg bg-danger container text-white position-relative">
                    <p class="h2 text-center">
                        <% if(buddy) {%>
                            Battling with: <%= buddy.name %>
                        <% } else { %>
                            Battling without buddy 
                        <% } %>
                    </p>
                    
                    Kans om te vangen: <%= chance %>%<br />
                    Pokeballs over: <%= pokeballs %>    

                    <form method="POST" class="d-flex justify-content-center">
                        <input type="hidden" name="sessionId" value="<%= sessionId %>" />
                        <input type="image" src="https://www.freeiconspng.com/thumbs/pokeball-png/pokeball-transparent-png-2.png" class="w-50 position-absolute"  alt="submit" />
                    </form>
                </div>
            </article>

        </section>
    </main>
  </body>
</html>
