<!DOCTYPE html>
<html lang="nl-BE">
  <head>
    <title>Dashboard</title>
    <%-include('partials/head')%>
  </head>
  <body>
    <%-include('partials/navbar')%>

    <main>   
      <section class="d-flex flex-wrap justify-content-around py-5">
        <%
        
        for(let item of [
        {
          text: "Vergelijk Pokemons",
          image: "/images/pokemonvgl.jpg",
          url: "/vergelijking"
        },
        {
          text: "Bekijk Pokédex",
          image: "/images/pokemoncol.jpg",
          url: "/pokemon"
        }
        ]) { %>
          <article class="d-md-flex justify-content-center flex-wrap flex-row border border-4 border-danger rounded" style="min-width: 300px; width:25%">
            <img src="<%= item.image %>" height="auto" width="100%" class="px-5 mb-5 mt-2"/>
            <button class="btn btn-danger m-auto mb-2" onclick='window.location.href="<%= item.url %>"'><%= item.text %> </button>
          </article>
        <% } %>
        
        <article class="d-md-flex justify-content-center flex-wrap flex-row border border-4 border-danger rounded" style="min-width: 300px; width:25%">
          <img src="/images/mypokemon.jpg" height="auto" width="100%" class="px-5 mb-5 mt-2"/>
          <button class="btn btn-danger m-auto mb-2" onclick='window.location.href="/pokemon-detail/<%= buddy.id %>"'>Huidige buddy</button>
        </article>
      </section>
    </main>
  </body> 
</html>