<!DOCTYPE html>
<html lang="nl-BE">
  <head>
    <title>Pokedex</title>
    <%- include('partials/head'); %>
  </head>
  <body>
    <%- include('partials/navbar.ejs'); %>
    <main class="p-lg-3">
      <section class="d-flex flex-wrap justify-content">
        <% for (let i = 0; i<pokemons.length; i++){%>
        <article class="pokemonkaart" onclick="location.href='/pokemon-detail/<%=pokemons[i].id%>'">
          <div class="row">
            <img src="<%= pokemons[i]._sprites.front_default %>" class="spriteimg"/>
          </div>
          <div class="row">
            <div class="col">
              <%= pokemons[i].name.charAt(0).toUpperCase() + pokemons[i].name.slice(1) %>
            </div>
            <div class="col">
              <img src="/images/pokeball.png" class="pokeballimg"\>
            </div>
          </div>
        </article>

        <%  }%>
          </section>
        </article>
        <div class="text-center">


          <% 
          for (let i = pageId-2; i <= pageId+2; i++) {
            if(i < 1) continue;
          %>
            <a href="/pokemon/<%= i-1 %>"><%= i %></a>
        <% } %>
        </div>
      </div>
     
      <!-- <div class="container">
        <div class="row align-items-start">
          <div class="col ">
            <div class="row">
              <div class="col">
                <img src="<%= pokemons[0]._sprites.front_default %>"/>
              </div>
              <div class="col">
                <%= pokemons[0].name %>
              </div>
            </div>
          </div>
          <div class="col">
            <%= pokemons[1].name %>
          </div>
          <div class="col">
            <%= pokemons[2].name %>
          </div>
          <div class="col">
            <%= pokemons[3].name %>
          </div>
        </div>
        <div class="row align-items-center">
          <div class="col">
            <%= pokemons[4].name %>
          </div>
          <div class="col">
            <%= pokemons[5].name %>
          </div>
          <div class="col">
            <%= pokemons[6].name %>
          </div>
          <div class="col">
            <%= pokemons[7].name %>
          </div>
        </div>
        <div class="row align-items-end">
          <div class="col">
            <%= pokemons[8].name %>
          </div>
          <div class="col">
            <%= pokemons[9].name %>
          </div>
          <div class="col">
            <%= pokemons[10].name %>
          </div>
          <div class="col">
            <%= pokemons[11].name %>
          </div>
        </div>
      </div> -->
        
    </main>
  </body>
</html>
