<!DOCTYPE html>
<html lang="nl-BE">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
    />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Pokemons</title>
    <%- include('partials/head'); %>
    <link rel="stylesheet" type="text/css" href="css/style.css" />
  </head>
  <body>
    <%- include('partials/navbar.ejs'); %>
    <main class="p-lg-3">

      <div class="d-flex flex-wrap justify-content">
        <% for (let i = 0; i<pokemons.length; i++){%>
        <article class="pokemonkaart">
          <div class="row">
            <img src="<%= pokemons[i]._sprites.front_default %>" class="spriteimg"/>
          </div>
          <div class="row">
            <div class="col">
              <%= pokemons[i].name %>
            </div>
            <div class="col">
              <img src="images\pokeball.png" class="pokeballimg"\>
            </div>
          </div>
        </article>
        <%}%>
          </div>
        </article>
      </div>
     
      <!-- <div class="container">
        <div class="row align-items-start">
          <div class="col ">
            <div class="row">
              <div class="col">
                <img src="<%= pokemons[0]._sprites.front_default %>"/>
              </div>
              <div class="col">
                <%= pokemons[0].name %>
              </div>
            </div>
          </div>
          <div class="col">
            <%= pokemons[1].name %>
          </div>
          <div class="col">
            <%= pokemons[2].name %>
          </div>
          <div class="col">
            <%= pokemons[3].name %>
          </div>
        </div>
        <div class="row align-items-center">
          <div class="col">
            <%= pokemons[4].name %>
          </div>
          <div class="col">
            <%= pokemons[5].name %>
          </div>
          <div class="col">
            <%= pokemons[6].name %>
          </div>
          <div class="col">
            <%= pokemons[7].name %>
          </div>
        </div>
        <div class="row align-items-end">
          <div class="col">
            <%= pokemons[8].name %>
          </div>
          <div class="col">
            <%= pokemons[9].name %>
          </div>
          <div class="col">
            <%= pokemons[10].name %>
          </div>
          <div class="col">
            <%= pokemons[11].name %>
          </div>
        </div>
      </div> -->
        
    </main>
  </body>
</html>
