<!DOCTYPE html>
<html lang="nl-BE">
  <head>
    <title>Pokedex</title>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11" defer></script>
    <%- include('partials/head'); %>
  </head>
  <body>
    <%- include('partials/navbar.ejs'); %>
    <main class="p-lg-3">
      <% if(buddyId) { %>
        <section class="d-flex justify-content-center">
          <button class="ml-100 btn btn-danger" onclick="window.location.href='/pokemon-detail/<%= buddyId %>'">Ga naar huidige buddy</button>
        </section>
      <% } %>

      <section class="d-flex flex-wrap justify-content">
        <% for (let i = 0; i<pokemons.length; i++){%>

        <article 
        class="pokemonkaart pointer hover-overlay text-center rounded  <%= capturedPokemon.includes(pokemons[i].id) ? 'bg-success' : 'bg-danger'%>"
        onclick="
        Swal.fire({
            title: 'Wil je <%= pokemons[i].name %> <%= capturedPokemon.includes(pokemons[i].id) ? `vrijlaten` : `proberen vangen` %>?',
            showCancelButton: true,
              showDenyButton: true,   
            denyButtonText: `Bekijk Pokémon`,
            <% if(capturedPokemon.includes(pokemons[i].id)) { %>
              confirmButtonText: 'Vrijlaten',
              cancelButtonText: `Annuleren`
            <% } else { %>
              confirmButtonText: 'Battle',
              cancelButtonText: `Flee`
            <% } %>
          }).then((result) => {
            /* Read more about isConfirmed,  isDenied below */
            if (result.isConfirmed) {
              window.location.replace('/<%= capturedPokemon.includes(pokemons[i].id) ? `release` : `capture` %>/<%= pokemons[i].id %>');
            } else if (result.isDenied) {
              window.location.replace('/pokemon-detail/<%= pokemons[i].id %>');
            } 
          })">
          <main class="row-sm">
            <img src="<%= pokemons[i]._sprites.front_default %>" class="spriteimg"/>
          </main>
          <footer class="row-sm">
            <div class="col-sm">
              <strong class="text-white"><%= pokemons[i].name.charAt(0).toUpperCase() + pokemons[i].name.slice(1) %></strong>
            </div>

            <div class="col-sm">
                <img src="/images/pokeball.png" class="w-2rem <%= capturedPokemon.includes(pokemons[i].id) ? 'visible' : 'invisible' %>" \>
            </div>
          </footer>
        </article>
        <%  }%>

        <section class="text-center w-100">
        <% for (let i = pageId-2; i <= pageId+2; i++) { if(i < 1) continue; %>
            <a href="/pokemon/<%= i-1 %>"><%= i %></a>
        <% } %>
        </section>  
    </main>
  </body>
</html>
