<!doctype html>
<html lang="nl-BE">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Who's that pokémon</title>
    <%- include('partials/head'); %>
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11" defer></script>
    <script>
      let pokemonName = '<%= pokemon.name %>';
      console.log(pokemonName);
    </script>
  </head>
<body>
  <%- include('partials/navbar.ejs'); %>    



<main>
    <form class="justify-content-center" onsubmit="return false">
        <div class="form-row ">
          <div class="col-4 offset-4 ">
            <img src="<%= pokemon._sprites.front_default %>" class="whosthatimg "/>
          </div>
        </div> 
        <div class="row justify-content-center" >
            <div class="col-6">
                <input type="text" name="pokenaam" id="pokenaam" class="form-control " placeholder="Naam van de pokemon">
              </div>
              <div class="col-1">
                
                <button class="btn btn-primary mb-2" onclick="

                    if(pokemonName == document.getElementById('pokenaam').value){
                        Swal.fire({
                            icon: 'success',
                            title: 'Dit was de juiste pokemon!',
                            showConfirmButton: true,
                            confirmButtonText: 'doorgaan',
                            timer: 1500
                            }).then(function(){ 
                              location.reload();
                              }
                            )
                    }else{
                       Swal.fire({
                                title: 'Fout',
                                text: 'Dit was niet de juiste pokemon, het was <%= pokemon.name %> ', 
                                imageUrl: '<%= pokemon._sprites.front_default %>',
                                showConfirmButton: true,
                                confirmButtonText: 'doorgaan'
                                }).then(function(){ 
                                 location.reload();
                                }
                                )
                                    }
                    
                    ">Gokken</button>
              </div>
        </div>
      </form>
</main>

</body>